.heder1{
  background-color: white; background-image: linear-gradient(to bottom , #0f9ec8 , #e01616); border-radius: 27px; box-shadow: 0 3px 5px 0 rgba(0 , 0 , 0 , 0.19); margin: 0px; padding: 8px 15px 8px 15px; text-align: center
}

.watch-server-button{
background-color: white; background-image: linear-gradient(to bottom , #cae7fd , #f74b31); border-radius: 27px; margin: 3px; padding: 8px 15px 8px 15px; text-align: center;

box-shadow:rgb(11, 1, 1) 5px 5px 12px, rgb(255, 255, 255) 0px -2px 1px;

margin: 5px;
}
.watch1{
  
}